 .footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.link {
  color: rgba(255, 255, 255, 0.86);
  padding: 0;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
