.loading,
.noMore {
  text-align: center;
  color: #7d7d7d;
}

.noMore {
  margin-top: 6px;
}

.unRead {
  position: absolute;
  right: 0;
  top: 4px;
  background-color: rgb(232, 103, 103);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.tag {
  width: 60px;
  display: flex;
  justify-content: center;
}
